/* 
Generic Styling, for Desktops/Laptops 
*/

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}
table td {
    border: 1px solid #ccc;
}


.scraperClassName {
  width: 325px !important;
}

.priceSelector {
  width: 140px;
}

.sellerName {
  width: 200px;
}

.searchTerms {
  width: 125px;
}

.griddle-container{
  /*border:1px solid #DDD;*/
}

.griddle .top-section{
  clear:both;
  display:table;
  width:100%;
}

.griddle .griddle-filter{
  float:left;
  width:50%;
  text-align:left;
  color:#222;
  min-height:1px;
}

.griddle .griddle-settings-toggle{
  float:left;
  width:50%;
  text-align:right;
}

.griddle .griddle-settings{
  background-color:#FFF;
  border:1px solid #DDD;
  color:#222;
  padding:10px;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-columns{
  clear:both;
  display:table;
  width:100%;
  border-bottom:1px solid #EDEDED;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-column-selection{
  float:left;
  width:20%;
}
.griddle table{
  width:100%;table-layout:fixed;
}

.griddle th{
  background-color:#EDEDEF;
  border:0px;
  border-bottom:1px solid #DDD;
  color:#222;
  padding:5px;
}

.griddle td{
  padding:5px;
  background-color:#FFF;
  border-top-color:#DDD;
  color:#222;
}

.griddle .footer-container{
  padding:0px;
  background-color:#EDEDED;
  border:0px;
  color:#222;
}

.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next{
  float:left;
  width:33%;
  min-height:1px;
  margin-top:5px;
}

.griddle .griddle-page{
  text-align:center;
}

.griddle .griddle-next{
  text-align:right;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:20px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/*

table td.absorbing-column {
    width: 100%;
}

body {
  background: grey;
}

table { 
  width: 100%; 
  table-layout: auto;
  border-collapse: collapse; 

}

tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  width: auto;
  padding: 0px;
  margin: 0px;
  background: #333; 
  color: white; 
  font-weight: bold; 
}

tr td {
  white-space: nowrap;
  width: 100%;
}

td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}


th[data-title=scraperClassName] {

}*/